---
layout: page
image: /assets/img/bg.jpg
title: "Wallace <span class='has-text-primary'>Maxters</span>"
excerpt: "Um blog com dicas, tutoriais e informações sobre programação"
og_image: "/assets/img/logo.svg"
---


<h3 class="title is-5">Publicações recentes ({{ site.posts.size }})</h3>
<div class="columns is-multiline">
    {% for post in site.posts %}
        <div class="column is-12-mobile is-6-tablet is-4-desktop">
             <div class="card post-card">
                <header class="card-header">
                    <p class="card-header-title post-card-title">
                        <a class="title is-6    " href="{{ post.url }}" title="{{ post.title | strip_html | escape }}">
                           {{ post.title }}
                        </a>
                    </p>
                </header>
                <a class="card-image" href="{{ post.url }}">
                
                    <figure class="image is-4by3 post-card-cover" style="background-color: {{ post.color }}">
                        <img style="object-position: center; object-fit: cover;" loading="lazy" height="280" src="{{ post.image }}" alt="{{ post.title | strip_html }}" title="{{ post.title | strip_html }}">
                    </figure>
                </a>
                <div class="card-content post-card-content">
                    <a class="block post-card-description" href="{{ post.url }}">{{ post.excerpt | strip_html | strip_newlines | truncate: 156 }}</a>
                    <div class="block">
                        <div class="is-pulled-right is-size-7 has-text-grey">
                            <span class="tag is-primary">{{ post.date | date: "%d/%m/%Y" }}</span>
                        </div>
                        {% for category in post.categories %}
                            {% assign category_page = site.categorias | where: "label", category | first %}
                            {% if category_page %}
                                <a class="tag is-danger" href="{{ category_page.url }}">{{ category }}</a>
                            {% else %}
                                <div class="tag">{{ category }}</div>
                            {% endif %}
                        
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
<!-- ads common -->
{% include ads_common.html %}