<div class="box post-author">
	<div class="columns is-multiline">
		<div class="column is-12-mobile is-narrow-desktop">
			<div class="post-author-image"></div>
		</div>
        <div class="column is-12-mobile is-9-desktop">
            <div class="content has-text-justified-mobile">
                <h3 class="title is-4 has-text-left has-text-centered-mobile" itemprop="author">Wallace Maxters</h3>
                <p>Wallace de Souza é desenvolvedor web fullstack há mais ou menos 7 anos. Conhece as linguagens PHP, Javascript, C# e Python, e gosta muito de trabalhar com os frameworks Laravel e VueJS.</p>
                <p>É membro e moderador da comunidade <a rel="nofollow" href="https://pt.stackoverflow.com/users/4995/wallace-maxters">Stackoverflow em Português</a> e criador das bibliotecas <a href="https://github.com/LaravelLegends/pt-br-validator">PtBrValidator</a> e <a href="https://github.com/LaravelLegends/eloquent-filter">Eloquent Filter</a> para Laravel.</p>
            </div>
        </div>
	</div>
</div>