<form action="https://www.paypal.com/donate" method="post" target="_top"
      style="display: inline-block; vertical-align: top">
    <input type="hidden" name="business" value="KCAGBVD5TJLUL" />
    <input type="hidden" name="item_name" value="Cafe do Wallace Maxters" />
    <input type="hidden" name="currency_code" value="BRL" />
    <!-- <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" /> -->
    <button type="submit" class="button is-primary">
        <span class="icon">
            <i class="fa fa-coffee fa-fw"></i>
        </span>
        <span>Pague um café</span>
    </button>
</form>