<footer class="footer">
    <div class="container">
        <div class="columns">
            <nav class="column" itemscope="itemscope" itemtype="http://schema.org/SiteNavigationElement">
                <h5 class="title is-6">
                    <strong>Navegação</strong>
                </h5>
                <ul>
                    <li>
                        <span class="icon">
                            <i class="fas fa-home"></i>
                        </span>
                        <a itemprop="url" href="/">Início</a>
                    </li>
                    <li>
                        <span class="icon">
                            <i class="fas fa-th"></i>
                        </span>
                        <a itemprop="url" href="/categorias" title="Todas as categorias de publicações do blog">Categorias</a>
                    </li>
                    <li>
                         <span class="icon">
                            <i class="fas fa-user"></i>
                        </span>
                        <a itemprop="url" href="/autor">Sobre o Autor</a>
                    </li>
                </ul>
            </nav>
            <div class="column">
                <h5 class="title is-6">
                    <strong>Onde estou na web?</strong>
                </h5>
                <ul>
                    <li>

                        <span class="icon">
                            <i class="fab fa-github"></i>
                        </span>
                        <a href='{{ site.github }}' rel="nofollow">Github</a>
                    </li>   
                    <li>
                        <span class="icon">
                            <i class="fab fa-stack-overflow"></i>
                        </span>
                        <a href="{{ site.stackoverflow }}" rel="nofollow">Stackoverflow</a>
                    </li>
                    <li>
                        <span class="icon">
                            <i class="fab fa-facebook"></i>
                        </span>
                        <a href="{{ site.facebook }}" rel="nofollow">Facebook</a>
                    </li>
                </ul>
            </div>
            
            <div class="column is-narrow">
            </div>
        </div>
    </div>
</footer>
