<header class="top-header">
    <div class="top-header-overlay">
        {%- if include.show_menu -%}
            {% include menu.html class="is-absolute" %}
        {%- endif %}
        <div class="top-header-content">
            <div class="container">
                <div class="block" style="max-width: 600px; margin-left: auto; margin-right: auto; ">
                    <img src="/assets/img/logo.svg" class="image is-inline-flex is-128x128"> 
                    <h1 class="title is-3 has-text-white">{{ include.title }}</h1>
                    {% if include.excerpt %}
                        <div class="subtitle has-text-white">{{ include.excerpt }}</div>
                    {% endif %}
                </div>
                {%- if include.categories | size -%}
                    <div class="block has-text-white">
                        {%- for category in include.categories -%}
                            {% assign category_page = site.categorias | where: "label", category | first %}
                            {% if category_page %}
                                <a href="{{ category_page.url }}" class="tag is-primary is-medium">{{ category }}</a>&nbsp;
                            {% endif %}
                        {%- endfor -%}
                    </div>
                {%- endif -%}
            </div>
        </div>
    </div>
</header>