<header class="top-header">
	<div class="overlay">
		<div class="container">
			{%- if page.title -%}
					<div class="block">
						<h1 class="title is-2">
							<a href="/" class="has-text-white">
									{{ page.title | escape }}
							</a>
						</h1>
					</div>
					{%- if page.categories | size -%}
					<div class="block has-text-white">
						{%- for category in page.categories -%}
							<a href="/categorias#{{ category | slugify }}" class="tag is-primary is-medium">{{ category }}</a>&nbsp;
						{%- endfor -%}
					</div>
					{%- endif -%}
				<p>
					
				</p>
			{%- else -%}
				<h1 class="title is-1">
					<a href="{{ site.url }}" class="has-text-white">
						{{ site.title | escape }}
					</a>
				</h1>
			    <h2 class="subtitle has-text-white">
			    	{{site.description }}
				</h2>
		    {%- endif -%}
		</div>
	</div>
</header>