<nav class="navbar {{ include.theme }}">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item" href="/" title="Wallace Maxters">
                <img src="{{ site.logo }}" alt="Wallace Maxters" title="Wallace Maxters"> 
            </a>
            <span class="navbar-burger" data-target="navbarMenuHeroA">
                <span></span>
                <span></span>
                <span></span>
            </span>
        </div>
        <div id="navbarMenuHeroA" class="navbar-menu">
            <div class="navbar-end">
                <a class="navbar-item is-active" href="/" title="Página inicial">
                    Home
                </a>
                <a class="navbar-item" href="/categorias" title="Categorias">
                    <!-- <span class="icon">
                        <i class="fab fa-github"></i>
                    </span> -->
                    <span>Categorias</span>
                </a>
            </div>
        </div>
    </div>
</nav>