<nav class="top-header-menu {{ include.class }}">
    <div class="container">
        {% if include.show_logo %}
            <a href="/" title="Início - {{ site.title }}">
                <img src="/assets/img/logo.svg" alt="Wallace maxters" width="70">
            </a>
        {% endif %}
        <ul>
            <li>
                <a href="/" class="has-text-white">
                    Início
                </a>
            </li>
            <li>
                <a href="/categorias" class="has-text-white">
                    Categorias
                </a>
            </li>
        </ul>
    </div>
</nav>