{% assign max_posts = 4 %}
{% assign min_tags_related = 1 %}
{% assign post_count = 0 %}
{% assign same_tag_count = 0 %}

<h4 class="title is-5">Artigos relacionados</h4>
<div class="columns is-multiline is-gapless">
    {% for post in site.posts %}

        {% assign same_tag_count = 0 %}
        {% assign commonTags = '' %}

        {% for category in post.categories %}
            {% if post.url != page.url and page.categories contains category %}
                {% assign same_tag_count = same_tag_count | plus: 1 %}
            {% endif %}
        {% endfor %}

        {% if same_tag_count >= min_tags_related %}
            <div class="column is-12" tag-count="{{ same_tag_count }}">
                {% capture post_title %}<h5>{{ post.title }}</h5>{% endcapture %}
                {% include link_card.html title=post_title url=post.url image=post.image height="150px" %}
            </div>
            {% assign post_count = post_count | plus: 1 %}
            {% if post_count >= max_posts %}
                {% break %}
            {% endif %}
        {% endif %}
    {% endfor %}
</div>

{% if post_count == 0 %}
<div class="notification is-primary">Nenhum artigo relacionado encontrado</div>
{% endif %}