{% assign maxRelated = 4 %}
{% assign minCommonTags =  2 %}
{% assign maxRelatedCounter = 0 %}
{% assign sameTagCount = 0 %}

<h4 class="title is-5">Artigos relacionados</h4>

<div class="columns is-multiline is-gapless">
    {% for post in site.posts %}

    {% assign sameTagCount = 0 %}
    {% assign commonTags = '' %}

    {% for category in post.categories %}
        {% if post.url != page.url and page.categories contains category %}
            {% assign sameTagCount = sameTagCount | plus: 1 %}
        {% endif %}
    {% endfor %}

        {% if sameTagCount >= minCommonTags %}
            <div class="column is-12-mobile is-3-desktop">
                <a href="{{ post.url }}" class="related-post-card" style='background-image: url("{{ post.image }}");' data-same-tag-count="{{ sameTagCount }}">
                    <div class="overlay">
                        <h5>{{ post.title }}</h5>
                    </div>
                </a>
            </div>
            {% assign maxRelatedCounter = maxRelatedCounter | plus: 1 %}
            {% if maxRelatedCounter >= maxRelated %}
                {% break %}
            {% endif %}
        {% endif %}
    {% endfor %}
</div>