// No overrides so far

html, main{
    height: 100%;
}

body{
    background-color: #f1f1f1;
}
main {
    display: flex;
    flex-direction: column;

}

.post-card{
    max-height: 250px;
    
    .post-card-cover{
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
}

.top-header {
    height: 450px;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    background-image: url("/assets/img/codes.jpg");

    .overlay{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 30px;
        background-color: rgba(0, 0, 0, .65);
        height: 100%;
        width: 100%;
    }
}
