// No overrides so far

html, main{
    height: 100%;
}

body{
    background-color: #f1f1f1;
}
main {
    display: flex;
    flex-direction: column;

}

.post-card{

    .post-card-cover{
        background-size: auto;
        background-repeat: no-repeat;
        background-position: center;
    }

    .post-card-content{
        display: flex;
        flex-direction: column;
        min-height: 200px;

        > .post-card-description {
            flex: 1;
        }
    }
}

.top-header {
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    justify-content: center;
    background-image: url("/assets/img/codes.jpg");

    .overlay{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 30px;
        background-color: rgba(0, 0, 0, 0.8);
        height: 100%;
        width: 100%;
    }
}
