---
layout: default
---
{% assign sorted_posts = site.categories[page.label] | sort: 'title' %}
{% assign count = 0 %}
{% assign ads_count_show = 3 %}


{% include header.html title=page.title excerpt=page.excerpt show_menu=true %}
<div class="section">
    <div class="container">
        <nav class="breadcrumb" aria-label="breadcrumbs">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/categorias">Categorias</a></li>
                <li class="is-active"><a href="#" aria-current="page">{{ page.title }}</a></li>
            </ul>
        </nav>
        <!-- {% if content %}
            <div class="box">
                <h2 class="title is-4">{{ page.subtitle }}</h2>
                {{ content }}
            </div>
        {% endif %} -->
        <h2 class="title is-5">Publicações ({{ sorted_posts | size }})</h2>
        <div class="columns is-multiline">
            
            {% for post in sorted_posts %}
                {% if count == ads_count_show %}
                    {% assign count = 0 %}
                    <div class="column is-12">
                        {% include ads_common.html %}
                    </div>    
                {% endif%}
                {% assign count = count | plus: 1 %}
                <div class="column is-12 is-4-desktop">
                    {% capture post_title %}<h3>{{ post.title }}</h3>{% endcapture %}
                    {% include link_card.html title=post_title url=post.url image=post.image %}
                </div>
            {% endfor %}
        </div>
    </div>
</div>