---
layout: default
---
{% assign count = 0 %}
{% assign ads_count_show = 3 %}

<div class="section">
    <div class="container">
        <nav class="breadcrumb" aria-label="breadcrumbs">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/categorias">Categorias</a></li>
                <li class="is-active"><a href="#" aria-current="page">{{ page.title }}</a></li>
            </ul>
        </nav>
        <div class="columns is-multiline">
            {% assign sorted_posts = site.categories[page.label] | sort: 'title' %}
            {% for post in sorted_posts %}
                {% if count == ads_count_show %}
                    {% assign count = 0 %}
                    <div class="column is-12">
                        {% include ads_common.html %}
                    </div>    
                {% endif%}
                {% assign count = count | plus: 1 %}
                <div class="column is-12 is-4-desktop">
                    {% include link_card.html title=post.title url=post.url image=post.image %}
                </div>
            {% endfor %}
        </div>
    </div>
</div>