---
layout: default
disqus: true
---

{% include menu.html theme="is-dark" %}

<section class="section post-page">
    <div class="container">
        <div class="columns is-multiline">
            <div class="column is-12-mobile is-9-desktop">
                <header class="block">
                    <h1 class="title has-text-primary">{{ page.title }}</h1>
                </header>
            </div>
            <div class="column is-12-mobile is-9-desktop">
                <!-- POST -->
                <article class="card block post-page-article">
                    {% if page.image %}
                    <div class="card-image">
                        <figure class="image is-4by3">
                            <img loading="eager" src="{{ page.image }}" alt="{{ page.title | escape }}"
                                 title='{{ page.title | escape }}' >
                        </figure>
                    </div>
                    {% endif %}
                    <div class="card-content">
                        <div class="columns">
                            <span class="column">
                                <small class="is-size-7">
                                    Publicado em: <time
                                          datetime="{{ page.date | date: "%Y-%m-%d" }}">{{ page.date | date: "%d/%m/%Y" }}</time>
                                </small>
                            </span>
                            <div class="column has-text-right">
                                {%- for category in page.categories -%}
                                {% assign category_page = site.categorias | where: "label", category | first %}
                                {% if category_page %}
                                <a href="{{ category_page.url }}"
                                   class="tag is-primary is-small">{{ category }}</a>&nbsp;
                                {% endif %}
                                {%- endfor -%}
                            </div>
                        </div>
                        <hr>
                        <div class="content post-page-article-content">{{ content }}</div>
                    </div>
                </article>
                <div class='block'>
                    <div style="display: flex; align-items: center;">
                        <div class="fb-share-button" data-href="{{ page.url }}" data-layout="button"
                             style="vertical-align: top"></div>
                        <span style="flex: 1"></span>
                        {% include donate.html %}
                    </div>
                </div>
            </div>
            <aside class="column is-12-mobile is-3-desktop">
                <div class="block">{% include ads_article.html %}</div>
                <nav class="block">
                    <h4 class="title is-6 has-text-primary">Veja também</h4>
                    <div class="box">{% include related_posts.html max_posts=page.max_posts %}</div>
                </nav>
                <div class="block">{% include ads_common.html %}</div>
                {% comment %} <div class="block">
                    <h4 class="title is-5 has-text-primary">Publicado por</h4>
                    {% include author.html %}
                </div> {% endcomment %}
            </aside>

            <div class="column is-12-mobile is-9-desktop">
                {% include ads_common.html %}
            </div>

        </div>
    </div>
</section>
