---
layout: default
---

<section class="section">
    <div class="container">
        <nav class="breadcrumb" aria-label="breadcrumbs">
            <ul>
                <li><a href="/">Home</a></li>
                <li class="is-active"><a href="#" aria-current="page">{{ page.title }}</a></li>
            </ul>
        </nav>
        <div class="columns">    
            <div class="column is-12-mobile is-9-desktop">
                <div class="box post-page-box">
                    <article class="content">{{ content }}</article>
                    <div class="fb-share-button" 
                        data-href="{{ page.url }}" 
                        data-layout="button"></div>
                </div>
                {% include author.html %}
                <div class="block">{% include ads_common.html %}</div>
            </div>
            <div class="column is-12-mobile is-3-desktop">
                <div class="box">
                    {% include related_posts.html  %}
                    <div class="block">{% include ads_common.html %}</div>
                </div>
            </div>
        </div>
    </div>
</section>
