---
layout: default
---

<section class="section">
    <div class="box">
        <article class="container content">
            <div class="columns">
                <div class="column is-10">
                    <h2>{{ page.title }}</h2>
                </div>
                <div class="column">
                    <div class="has-text-right has-text-grey-light is-size-7">{{ page.date | date: "%d/%m/%Y %H:%M"  }}</div>
                </div>
            </div>
            {{ content }}
        </article>
    </div>
</section>
